extends layout

block content
  .row.navbar
      .col-md-4.pad
        .circle
          a(href='#skills') Skills
      .col-md-4
        h4 Claire Nessler
        span Educator turned Full Stack Developer
      .col-md-4.pad
        .circle
          a(href='#contact') Contact
    #carousel.carousel.slide(data-ride='carousel', data-interval='5000', data-pause='hover')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#carousel', data-slide-to='0')
        li(data-target='#carousel', data-slide-to='1')
        li(data-target='#carousel', data-slide-to='2')
      // Wrapper for slides
      // <div ng-controller="PortfolioController" class="ang">
      .carousel-inner
        .item.active
          img(src='/images/farmers-market.png', alt='Farmers Market App')
          .carousel-caption
            .app-title
              a(href='https://farmers-markets-finder.herokuapp.com/')
                h3 Buy Local, Eat Local 
              .skills-used
                p | Express | API integration | CSS3 |
            .git
              a(href='https://github.com/CNessler/fruits-veggies')
                i.fa.fa-github.fa-4x
        .item
          img(src='http://placehold.it/1200x315', alt='...')
          .carousel-caption
            h3 Caption Text
        .item
          img(src='http://placehold.it/1200x315', alt='...')
          .carousel-caption
            h3 Caption Text
      // Controls
      a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#carousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    .container
      h1.title Skills
      #skills
        table
          tr
            td
              .image
                img(src='/images/api.png', alt='')
            td
              .image
                img(src='/images/css.jpeg', alt='')
            td
              .image
                img(src='/images/express.jpeg', alt='')
            td
              .image
                img(src='/images/javascript.png', alt='')
          tr
            td
              .image
                img(src='/images/mongoose.png', alt='')
            td
              .image
                img(src='/images/node.png', alt='')
            td
              .image
                img(src='/images/oopinjs.png', alt='')
            td
              .image
                img(src='/images/sass.png', alt='')
          tr
            td
              .image
                img(src='/images/mongodb.jpeg', alt='')
            td
              .image
                img(src='/images/angular.jpeg', alt='')
            td
              .image
                img(src='/images/js.png', alt='')
            td
              .image
                img(src='/images/ajax.jpeg', alt='')
      .form
        h1#contact.title Contact
        form(action="/contact" method='post')
          .form-group
            input.form-control(type='email', name='email', placeholder='Email')
          .form-group
            input.form-control(type='subject', name='subject', placeholder='Subject')
          .form-group
            textarea.form-control(name='message', rows='8', cols='40', placeholder='Message')
          .form-group
            input.form-control.button(type='submit', name='name', value='Send Message')
    
      
