html, .ng-view{
  background-color: #131B23;
}

html body {
  padding: 50px;
  padding: 0;
  background-color: #131B23;
}
.navbar {
  padding: 25px;
  text-align: center;
  vertical-align: middle;
  color: #C5DAEA;
  position: absolute;
  background: linear-gradient(#C5DAEA, #131B23);
}

.navbar h4 {
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
.navbar span {
  /*font-family: 'Pacifico', cursive;*/
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
}
.navbar a {
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  color: #131B23;
  font-size: 18px;
  font-family: 'Oxygen', sans-serif;

}
.navbar .circle {
  width: 4.9em;
  height: 4.9em;
  line-height: 4.9em;
  border-radius: 50%;
  background-color: #C5DAEA;
  margin: 0 auto;
  /*float: right;*/
}

.navbar .pad {
  padding-top: 8px
}
#carousel .carousel-indicators .active{background-color: #C5DAEA}
#carousel .carousel-inner .item .carousel-caption .app-title a {text-decoration: none;}
#carousel .carousel-inner .item .carousel-caption .app-title h3:hover {
  color: #2274A5;
}
#carousel .carousel-inner .item .carousel-caption i:hover {
  color: #2274A5;
  cursor: pointer;
}
#carousel .carousel-inner .item .carousel-caption .app-title .skills-used {color: #C5DAEA; font-family: 'Oxygen', sans-serif;}
body .navbar{
  margin: 0;
}
#carousel {
  height: 600px;
  /*padding-top: 50px;*/
}

#right {float: right}
#left {float: left}

#carousel .carousel-inner .item .app-title h3{
  color: #C5DAEA;
  text-align: center;
  font-size: 40px;
  font-family: 'Oxygen', sans-serif;;
}
#carousel .carousel-inner .item img {
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}

#carousel .carousel-inner .item .fit {
  height: 600px;
  width: 80%;
}
#carousel .carousel-inner .item .app-title {
  border-top: 4px solid #C5DAEA;
  border-bottom: 4px solid #C5DAEA;
  text-align: center;
  padding: 0px 0px 4px 0px;
  margin-bottom: 150px;
  bottom: 6em;
}
.git {
  margin-bottom: 30px;
}
#carousel .carousel-inner .item .git a {
  color: #C5DAEA;
}
#carousel .carousel-inner .item .skills-used {
  font-size: 15px;
}

img {-webkit-filter: brightness(55%);}
#pad {
  padding-top: 50px;
}
.skills .image {
  align-content: center;
  text-align: center;

}
table {
  margin: 0 auto;
}

#skills .image img {
  -webkit-filter: brightness(100%);
  height:200px;
  width: 275px;
  border: 10px solid black;
  padding: 8px;
  background-color: #FFFFFF;
}
.title {
  padding-top: 40px;
  color:#2274A5;
  font-family: 'Oxygen', sans-serif;;
}
.about {
  padding-top: 20px;
  color:#2274A5;
  font-family: 'Oxygen', sans-serif;;

}
.container #skills {
  padding-bottom: 60px;
  padding-top: 20px;
}
form {
  width: 60%;
  margin: 0 auto;
}
.form {
  padding-top: 80px;
  padding-bottom: 200px;
  font-family: 'Oxygen', sans-serif;;
}
.button:hover {
  background-color: #2274A5;
}
.view-container > .view.ng-animate {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  min-height:500px;
}
.view.ng-enter, .view.ng-leave {
  transition:0.5s slideInDown all;
}
/*.view.ng-enter {
  transform:translateX(100%);
}
.view.ng-enter.ng-enter-active, .view.ng-leave {
  transform:translateX(0%);
}
.view.ng-leave.ng-leave-active {
  transform:translateX(-100%);
}*/
