<div class="container">
  <h1>Skills</h1>
    <div class="skills">
      <table>
        <tr>
          <td>
            <div class="image">
              <img src="/images/api.png" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/css.jpeg" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/express.jpeg" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/javascript.png" alt="" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="image">
              <img src="/images/mongoose.png" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/node.png" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/oopinjs.png" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/sass.png" alt="" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="image">
              <img src="/images/mongodb.jpeg" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/angular.jpeg" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/js.png" alt="" />
            </div>
          </td>
          <td>
            <div class="image">
              <img src="/images/ajax.jpeg" alt="" />
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
      <!-- <div class="grid">
        <div class="col-md-7" id='left'>
          <div class="big-box effect">
            <img src="/images/ajax.jpeg" alt="AJAX" />
          </div>
        </div>
        <div class="col-md-5" id='left'>
          <div class="small-box effect">
            <img src="/images/angular.jpeg" alt="Angular" />
          </div>
        </div>
        <div class="col-md-5" id='left'>
          <div class="small-box effect">
            <img src="/images/angular.jpeg" alt="Angular" />
          </div>
        </div>
      </div> -->
      <!-- <table>
        <tr>
          <td class="col-md-5">
            <div>
              <img src="/images/css.jpeg" alt="" />
            </div>
          </td>
          <td class='col-md-3'>
            <div>
              <img src="/images/api.png" alt="" />
            </div>
            <div>
              <img src="/images/angular.jpeg" alt="" />
            </div>
          </td>
          <td class="col-md-4">
            <div>
              <img src="/images/node.png" alt="" />
            </div>
          </td>
        </tr>
        <tr>
          <td class="col-md-3">
            <div>
              <img src="/images/express.jpeg" alt="" />
            </div>
            <div>
              <img src="/images/javascript.png" alt="" />
            </div>
          </td>
          <td class="col-md-3">
            <div>
              <img src="/images/js.png" alt="" />
            </div>
            <div>
              <img src="/images/mongodb.jpeg" alt="" />
            </div>
          </td>
          <td class="col-md-6">
            <div>
              <img src="/images/oopinjs.png" alt="" />
            </div>
          </td>
        </tr>
          <tr>
            <td class="col-md-4">
              <div>
                <img src="/images/mongoose.png" alt="" />
              </div>
            </td>
            <td class="col-md-4">
              <div>
                <img src="/images/node.png" alt="" />
              </div>
            </td>
            <td class="col-md-4">
              <div>
                <img src="/images/sass.png" alt="" />
              </div>
            </td>
          </tr>
      </table> -->
